name: Test Push Workflow
on:
    push:
        branches:
        - main1
jobs:
   first-job:
     runs-on: ubuntu-latest
     steps: 
        - name: Get code
          uses: actions/checkout@v5
        - name: Print
          run: echo "Done.."  